<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div >
      <h2><%= pluralize(@admin.errors.count, "error") %>导致修改失败，请重新修改</h2>

      <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password,"密码" %><br>
    <%= f.password_field :password,:size => 30 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,"确认密码" %><br>
    <%= f.password_field :password_confirmation,:size => 30 %>
  </div>
  <div class="actions">
    <%= submit_tag "确定" ,:class => "btn" %>
  </div>
<% end %>
