<div class="span3" id="sidebar">
  <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
      <li class="active">
          <a href="/admins/<%= session[:admin_id]%>"><i class="icon-chevron-right"></i>我的信息</a>
      </li>
      <li >
          <a href="/admins/<%= session[:admin_id]%>/profile"><i class="icon-chevron-right"></i>修改信息</a>
      </li>
  </ul>
</div>

<div class="span9" id="content">
  <p id="notice"><%= notice %></p>

    <div class="field">
      <%= image_tag @admin.avatar_url(:normal) %>
    </div>
    <div class="field">
      <strong>用户名:</strong>
      <%= @admin.username %><br>
    </div>
    <div class="field">
      <strong>昵称:</strong>
      <%= @admin.nickname %>
    </div>
    <div class="field">
      <strong>个人简介:</strong>
      <%= @admin.description %>
    </div>


  <%= button_to '注销' ,logout_path ,:method => :delete ,:class => "btn" %> 
  <%= link_to '查看我的文章',admin_posts_path ,:class => "btn"   %>
</div>