
  <body id="login">
    <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
    <% end %>

    <div class="container">
      <%= form_tag do %>
        <fieldset class="form-signin">
          <h3>请登录</h3>
          <div class="input-block-level">
            <label for="username">用户名：</label> 
            <%= text_field_tag :username , params[:username] %>
          </div>
          <div class="input-block-level">
            <label for="password">密码：</label> 
            <%= password_field_tag :password , params[:password] %>
          </div>

          <div >
            <%= submit_tag "登录" %>
          </div>
          <div >
            <a href="../posts"><button class="btn btn-large btn-primary">取消</button></a>
          </div>
        </fieldset>
      <% end %>       

    </div> <!-- /container -->
    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>