<!DOCTYPE html>
<html>
<head>
  <title>留言板——编辑留言</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>  
</head>

<body >
  <div style="background-color:#F2F2F2;">
    <% if @message %>
      <div class="alert alert-<%= @message[:status] %>" role="alert">
        <%= @message[:desc] %>
      </div>
    <% end %>
    <div class="input-container">
      <form action="/<%= params[:username] %>/edit/<%= @editID %>"  method="post" >
        <textarea name="editContent" placeholder="请添加留言，内容不少于10字" autofocus="autofocus" 
        wrap="hard" class="input-textfield" ><%= @origin_msg %></textarea><br>
      <input type="submit" name="editSub"  value="确定" class="btn btn-success">
      <input type="submit" name="editCncl" value="取消" class="btn btn-danger">
      </form>
    </div>
  </div>
</body>
</html>
