<!DOCTYPE html>
<html>
<head>
  <title>留言板——首页</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>  
</head>
<body >  
  <div style="margin-top:1px; background-color:#F2F2F2;" >
    <div style="height:40px;">
      <div style="float:left;" class="input-group">
        <form method="get" class="form-inline">
          <select name="mode" class="btn btn-info" style="padding: 0.2em 1em;">
            <option value="id">留言ID</option>
            <option value="username">用户名</option>
          </select>
          <input type="text" name="query" placeholder="输入为空即查询全部" class="input-medium search-query">
          <input type="submit" value="查询" class="btn btn-success" style="padding: 0.3em 1em;">
        </form>
      </div>
      <div style="float:right;">
        <a href= "logoff"><button class="btn btn-warning" >注销</button></a>
      </div>
      <div style="float:right;">
        <a href= "<%= session[:username] %>"><button class="btn btn-info" >个人信息</button></a>
      </div>
      <div style="float:right;">
        <a href="add"><button class="btn " >添加留言</button></a>
      </div> 
    </div>
    <div>
      <table class="table table-striped">
        <tr align="center" id="head" class="info">
          <td width="5%">留言ID</td>
          <td width="70%">留言内容</td>
          <td width="10%">用户名</td>
          <td width="10%">更新时间</td>
          <td width="5%">操作</td>
        </tr>      

        <% i=@query_msg.size-1 ;while i >= 0 %>  
        <tr align="center" >
          <td><%= @query_msg[i].id %></td>
          <td align="left" height="20" ><%= @query_msg[i].msg  %></td>
          <td><%= User.find_by(id: @query_msg[i].user_id).username %></td>
          <td><%= @query_msg[i].create_time.strftime("%Y年%m月%d日\n%H点%M分")  %></td>

          <td>
            <% if session[:id]==@query_msg[i].user_id  %>
            
            <form action="/delete/<%= @query_msg[i].id %>" method="get">
            <button type="submit" name="ret" value="index" class="btn btn-sm"><span class="glyphicon glyphicon-trash" style="color: rgb(247, 47, 56); font-size: 14px;"> 删除</span></button>
            </form>

            <a href="/index/edit/<%= @query_msg[i].id %>"   ><button class="btn btn-sm"><span class="glyphicon glyphicon-edit" style="color: rgb(49, 142, 147); font-size: 14px;"> 编辑</span></button></a>
            <% end %>
          </td>

        </tr>
        <% i -= 1 %>
        <% end %>  
      </table>
    </div>
  </div>
<body>
</html>
