<!DOCTYPE html>
<html>
<head>
  <title>留言板——个人信息</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>  
</head>
<body>
  <div style="background-color:#F2F2F2;margin-top:1px;">
    <div style="height:130px;">
      <div style="float:left;">
      <h2>个人信息</h2>
      用户名：<%= session[:username] %> <br>
      用户ID：<%= session[:id] %><br>
      已发表留言：<%= @query_msg.size %>条<br>
      </div>
      <div style="float:right;">
          <a href="<%= session[:username] %>/alterpassword"><button class="btn" ><span class="glyphicon glyphicon-lock"> 修改密码</span></button></a>
      </div>
      <div style="float:right;">
          <a href="../"><button class="btn" ><span class="glyphicon glyphicon-home"> 返回主页</span></button></a>
      </div>  
    </div>
    <div >
      <div>
        <table class="table table-striped" >
          <tr align="center" id="head" class="info">
          <td width="5%">留言ID</td>
          <td width="80%">留言内容</td>
          <td width="10%">创建时间</td>
          <td width="5%">操作</td>

          <% i=@query_msg.size-1 ;while i >= 0 %>  
          <tr align="center" >
            <td><%= @query_msg[i].id %></td>
            <td align="left" height="20" ><%= @query_msg[i].msg  %></td>
            <td><%= @query_msg[i].create_time.strftime("%Y年%m月%d日\n%H点%M分")  %></td>

            <td>
              <% if session[:id]==@query_msg[i].user_id  %>
              
              <form action="/delete/<%= @query_msg[i].id %>" method="get">
              <button type="submit" name="ret" value="<%= session[:username] %>" class="btn btn-sm"><span class="glyphicon glyphicon-trash" style="color: rgb(247, 47, 56); font-size: 14px;"> 删除</span></button>
              </form>
            
              <a href="/<%= session[:username] %>/edit/<%= @query_msg[i].id %>"  ><button class="btn btn-sm"><span class="glyphicon glyphicon-edit" style="color: rgb(49, 142, 147); font-size: 14px;"> 编辑</span></button></a>
              <% end %>
            </td>

          </tr>
          <% i -= 1 %>
          <% end %>  
        </table>
      </div>
    </div>
  </div>
</body>  
