
<div class="form" style="width:400px;margin:0 auto;">
  <%= form_for(@comment, url:  post_comments_path(session[:post_id],@comment)) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2>评论发表失败，有以下 <%= pluralize(@comment.errors.count, "") %>个错误：</h2>

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= f.label "邮箱" %> 
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label "姓名" %> 
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "评论内容" %> 
      <%= f.text_area :content ,:style => 'width:400px;height:200px;' %>
    </div>

    <div class="actions">
      <%= submit_tag "发表" ,:class => "btn" %>
    </div>
  <% end %>
</div>